.people {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 150px;
    column-gap: 30px;
    margin-bottom: 85px;

}
.person_card {
    width: 270px;
    height: 619px;
}
.person_name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 40px;
}
.person_job-title {
    font-size: 18px;
margin-bottom: 20px;
    color: var(--color-pink);
    text-transform: uppercase;

}
.person_job-description {
    font-size: 17px;

    color: var(--color-grey);
}
.person_links {
    margin-top: 38px ;
}