.about {
  background: url(../assets/bg.png) center/cover;
}
.about__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-grey);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 650px;
}

li > a {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;

}
li {
  position: relative;
  margin: 60px 0;
}

li::after {
  content: "";
  background-color: var(--color-grey);
  height: 3px;
  position: absolute;
  left: -35px;
  bottom: -60px;
  right: 110%;
  opacity: 0;
  transition: all 0.4s;
}
li:hover::after {
  opacity: 1;
  right: -35px;
}
a:active {
   color: var(--color-pink);
   transition: all .2s;
  }
  li:active::after {
    background-color: var(--color-pink);
  }

.about__title {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 64px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  margin-top: 230px;
}
.about__description {
    font-size: 25px;
font-weight: lighter;   

    text-align: center;
    color: var(--color-white);
    padding: 80px;
    line-height: 40px;
    
}
.button__about {
    border: 0ch;
    background-color: var(--color-pink);
text-transform: uppercase;
    color: var(--color-white);
    font-size: 24px;
    cursor: pointer;
    width: 370px;
    height: 80px;
    margin-bottom: 120px;

 
}
.button__about:hover {
    background-color: var(--color-dpink);
    transition: all .2s;
}
.button__about:active {
    box-shadow: 3px 3px 30px var(--color-pink);
    transition: all .2s;
}