.advantages {
    margin: 0 auto;
    max-width: 1200px;
}
.container__advantages {

    display: flex;
   margin: 116px 0;
   flex-wrap: wrap;
   row-gap: 50px;
   justify-content: space-between;

}
.container__advantages_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 305px;
    align-items: center;
}
.container__advantages_card_title {
    color: var(--color-black);
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
 
}
.container__advantages_card_description {
    font-size: 17px;
    font-weight: 100;
    color: var(--color-grey);
    text-align: center;
}