.about {
  background: url(../assets/bg.png) center/cover;
}
.about__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-grey);
  margin: 0 20px;
}
@media (max-width: 320px) {
  .about__header {
    border-bottom: 0px;
  }
}
@media (max-width: 320px) {
  .logo {
    width: 130px;
    margin-top: 0;
  }
}
@media (max-width: 320px) {
  .about__header {
    margin: 0;
  }
}
.mob_nav {
  display: block;
}
@media (min-width:320px) {
  .mob_nav {
    display: none;
  }
  
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 650px;
}
@media (max-width: 320px) {
  ul {
    display: none;
  }
}

li > a {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
li {
  position: relative;
  margin: 60px 0;
}

li::after {
  content: "";
  background-color: var(--color-grey);
  height: 3px;
  position: absolute;
  left: -35px;
  bottom: -60px;
  right: 110%;
  opacity: 0;
  transition: all 0.4s;
}
li:hover::after {
  opacity: 1;
  right: -35px;
}
a:active {
  color: var(--color-pink);
  transition: all 0.2s;
}
li:active::after {
  background-color: var(--color-pink);
}
.mob_nav {
  width: 24px;
height: 18px;

}

.about__title {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 4rem;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  margin-top: 230px;
}
@media (max-width: 1200px) {
  .about__title {
    font-size: 36px;
    margin-top: 50px;
  }
}
@media (min-width:320px) {
  .mob_nav {
    display: none;
  }
  
}
.about__description {
  font-size: 25px;
  font-weight: lighter;

  text-align: center;
  color: var(--color-white);
  padding: 80px;
  line-height: 40px;
}
@media (max-width: 1200px) {
  .about__description {
    font-size: 1.5rem;
    line-height: 20px;
  }
}
@media (max-width: 320px) {
  .about__description {
    font-size: 14px;
    padding: 32px 0 50px 0;
  }
}
.button__about {
  border: 0ch;
  background-color: var(--color-pink);
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 24px;
  cursor: pointer;
  width: 370px;
  height: 80px;
  margin-bottom: 120px;
}
@media (max-width: 320px) {
  .button__about {
 width: 280px;
 height: 60px;
 font-size: 24px;
 
  }
}
.button__about:hover {
  background-color: var(--color-dpink);
  transition: all 0.2s;
}
.button__about:active {
  box-shadow: 3px 3px 30px var(--color-pink);
  transition: all 0.2s;
}
